.pixi
pixi.lock

__pycache__

build
dist
*.egg-info

.ipynb_checkpoints
examples/hystloop

.gitignore
src/mammos_mumag/scripts_scikit_fem/test-files
src/mammos_mumag/scripts_scikit_fem/.DS_Store
src/mammos_mumag/scripts_scikit_fem/testing.ipynb
dev/demag-skfem/mesh/Omega.msh
